
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 1rem 10rem;

}

@media (max-width: 1000px) {

    body{
        padding: 1rem;
    }
    
}

 /* index page active listigs */
.listings {
    display: flex;
    height: 15rem;
    gap: 3rem;
    padding: 2rem;
}

.listings img {
    height: 10rem;
}

/* listing page */
.listing-page {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.listing-page img {
    height: 18rem;
    object-fit:contain;
}

.listing-page input {
    height: 2.5rem;
    border-radius: 5px;
    padding: .5rem;
    border: 1px solid gray;
}

.watchlist {
    width: 5rem;
    height: 2rem;
    font-size: .8rem;
}

.place-bid {
    width: 8rem;
}

.listing-page ul {
    padding: 0 2rem;
}