{% extends "auctions/layout.html" %}

{% load crispy_forms_tags %}

{% block body %}
    <h3>Create Listing</h3>
    <form class='create' action={% url 'create' %} method='post' enctype="multipart/form-data">
        {% csrf_token %}
        {% if form.non_field_errors %}
            <div class="alert alert-danger" role="alert">
                {% for error in form.non_field_errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
        {% endif %}
        {{ form|crispy}}
        {% for field in form %}
            {% if field.errors %}
                <div class="alert alert-danger" role="alert">
                    {% for error in field.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% endif %}
        {% endfor %}
        <button class='btn btn-primary'>Create</button>
    </form>
{% endblock %}
