{% extends "auctions/layout.html" %}

{% block body %}

    <h2>Active Listings</h2>
    {% if listings %}
        {% for listing in listings %}
        <div class='listings' >
            <a href={% url 'listing' listing.id %}>
                {% if listing.image %}
                    <img src='{{ listing.image.url }}' alt='{{ listing.title }}'>
                {% else %}
                    <img src='/images/none.jpg' alt='{{ listing.title }}'>
                {% endif %}
            </a>
            <div class='listing-info'>
                <a href={% url 'listing' listing.id %}>
                    <h4>{{ listing.title }}</h4>
                </a>
                <p>{{ listing.description }}</p>
                <p><b>Price: </b>${{ listing.current_price|floatformat:2 }}</p>
                <p>created: {{ listing.created }}</p>
            </div>
        </div>
        {% endfor %}
    {% else %}
        <p>No Active Listings</p>
    {% endif %}

{% endblock %}