{% extends "auctions/layout.html" %}

{% block body %}

    <h3>{{ title }}</h3>

    {% if listings %}
        {% for listing in listings %}

        <div class='listings' >
            <a href={% url 'listing' listing.id %}>
                {% if listing.image %}
                    <img src='{{ listing.image.url }}' alt='{{ listing.title }}'>
                {% else %}
                    <img src='/images/none.jpg' alt='{{ listing.title }}'>
                {% endif %}
            </a>
            <div class='listing-info'>
                <div class='listings-heading' >
                    <a href={% url 'listing' listing.id %}>
                        <p>{{ listing.title }}</p>
                    </a>
                </div>
                <p><b>Price: </b>${{ listing.current_price|floatformat:2 }}</p>
                <p>{{ listing.description }}</p>
                <p class='created' >Created: {{ listing.created }}</p>
            </div>
        </div>
        {% endfor %}
    {% else %}
        <p>No Active Listings</p>
    {% endif %}

{% endblock %}