{% extends "auctions/layout.html" %}

{% block body %}
    <div class='listing-page'>
        <h3>Listing: {{ listing.title }}</h3>
        <button class='watchlist btn btn-info'>Watchlist</button>
        <img src={{ listing.image.url }} alt={{listing.title}}>
        <p>{{ listing.description }}</p>
        <h4>${{ highest_bid|floatformat:2 }}</h4>
        <form action={% url 'bid' listing.id %} method='post'>
            {% csrf_token %}
            <input name='bid' type='number' min={{ highest_bid }} placeholder='Bid' step="0.01">
            <button class='place-bid btn btn-primary'>Place Bid</button>
        </form>
        
        <h5>Details</h5>
            <ul>
                <li> Listed by: {{listing.seller}}</li>
                <li> Category: {{ listing.category }}</li> 
            </ul>
    </div>
{% endblock %}